APP_URL=http://localhost:80

SSLCOMMERZ_STORE_ID=your_sslcommerz_store_id
SSLCOMMERZ_STORE_PASSWD=your_sslcommerz_store_password

SMTP_USERNAME=your_email@gmail.com
SMTP_PASSWORD=your_gmail_app_password
